<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">  
    </head>
    <body ng-app='app'>
        <div ng-controller='PostsCtrl' class='container'>     
             <!-- <input type="text" ng-model='postuser' placeholder="User" class='form-control'/> -->
            <input type='text' ng-model='postBody' class='form-control' placeholder="Type Post"/>
            <button ng-click='addPost()' class='btn btn-default'>Add Post</button>
            <h1>Recent Posts</h1>
            <ul class='list-group'>
                <li ng-repeat="p in posts | orderBy:'-date' " class='list-group-item'>
                    <strong>@{{ p.username }}</strong>
                    <span>{{ p.body }}</span>
                </li>
            </ul>
           
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <!--<script>angular.module('app',[])</script>-->
      <script>
        var app=angular.module('app',[]);
        app.controller('PostsCtrl',function($scope,$http){
            /*$scope.posts=[
                {
                    username: 'Shankar',
                    body: 'Node rules1'
                },
                {
                    username: 'vinay',
                    body: 'trying out angular js..'
                }
            ]*/
             $http.get('http://localhost:3000/api/posts').then(function(posts){
                $scope.posts=posts.data
                })
            $scope.addPost=function(){
                if($scope.postBody){
                    $http.post('/api/posts',{
                        username:"shankar",
                        body:$scope.postBody
                    }).then(function(post){
                        $scope.posts.unshift(post)
                    $scope.postBody=null
                    })
                }
                $http.get('http://localhost:3000/api/posts').then(function(posts){
                $scope.posts=posts.data
                })
            }
        })
        </script>
    </body>

</html>